body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1B244A;
    width: 390px;
    height: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-family: Jersey 50;
    color: #EEEEEE;
}
p{
    background: #080001;
    color: #F94F6D;
    padding: 4px 14px;
    border-radius: 3px;
    margin-top: 0;
}
button{
    background: #1B244A;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    color: #9AABD8;
}